.text {
    position: absolute;
    width: 557px;
    height: 98px;
    left: 396px;
    top: 51px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: -0.387234px;
    
    color: #252F40;
 
 
}